#customer {
  display: flex;
  justify-content: space-between;
}

#customer.update{
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

  #customer #customerAdd svg {
    height: 20px;
    fill: white;
  }

    #customer #customerAdd {
        margin: 0 auto;
        margin-top: 24px;
        border: 0;
        background-color: #6d75c6;
        color: white;
        display: flex;
        font-size: 18px;
        width: fit-content;
        padding: 8px 24px;
        border-radius: 24px;
        display: flex;
        align-items: center;
        gap: 12px;
    }

  #customer #edit svg {
    display: block;
  }


  #customer .customerList svg {
    height: 15px;
  }

  #customer .customerList button {
    border: 0;
    background-color: transparent;
    padding: 0px;
  }


  #customer .customerList {
    display: flex;
    flex-direction: column;
    width: 45%;
  }

    #customer .customerFields {
        width: 45%;
        font-size: 20px;
        margin-top: 1px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: 8px;
        background: rgba(255,255,255,0.5);
        padding: 16px;
    }

  #customer .customerFields form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  #customer .formGroup {
    display: flex;
    gap: 8px;
    width: 100%;
    box-sizing: border-box;
  }

    #customer .formGroup > * {
      flex: 1;
    }

  #customer .formItem {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 0;
  }

    #customer #search {
        margin-bottom: 4px;
        width: 80%;
        display: flex;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: 50px;
        background: #fff;
        padding: 10px 25px;
        margin-bottom: 25px;
        input 
{
  flex: 1;
  padding: 0px;
  border: none;
  background: none;
}

input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

button {
  padding: 0px;
  background-color: transparent;
  border: none;
  svg

{
  height: 100%;
  width: 32px;
  padding: 8px;
}

}
}

#customer #resetSearch {
    margin-left: 4px;

    p {
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 0px;
      color: hsl(0,0%, 20%);
    }

button {
  border-bottom: 1px solid hsl(0,0%, 50%);
}

.customerFields input {
    background: none !important;
}



