.order-container {
/*    background: red;*/
    width: 100% !important;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#orderCompleted {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#confirm-modal {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


#boards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.order-options {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}

#boards-container p {
    margin-bottom: 0;
}

.boards-wrapper {
    flex: 1;
    height: 900px;
    background-color: #6d75c6;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/*.boards-wrapper:nth-child(1), .boards-wrapper:nth-child(1) .board-item-side {
    background-color: #b36a6a;
}

.boards-wrapper:nth-child(2), .boards-wrapper:nth-child(2) .board-item-side {
    background-color: #39b4eb;
}

.boards-wrapper:nth-child(3), .boards-wrapper:nth-child(3) .board-item-side {
    background-color: #59af68;
}*/

.boards-wrapper:nth-child(1) .board-item-side {
    background-color: #b36a6a;
}

.boards-wrapper:nth-child(2) .board-item-side {
    background-color: #39b4eb;
}

.boards-wrapper:nth-child(3) .board-item-side {
    background-color: #59af68;
}

.boards-wrapper h3 {
    text-align: center;
    color: #fff;
    margin: 15px 0;
    font-size: 16px;
}

.board {
    height: calc(100% - 48px);
    background-color: #f3f3f3;
    flex: 1;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    border-radius: 0 0 12px 12px;
}

.board::-webkit-scrollbar {
    height: 0;
    width: 5px;
}

.board::-webkit-scrollbar-track {
    background: none;
}

.board::-webkit-scrollbar-thumb {
    background: #cdcdcd;
}

.board-item {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: max-content;
    user-select: none;
    border-radius: 6px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    color: unset;
}

.board-item:hover {
    cursor: pointer;
}

.board-item:active {
    cursor: grabbing;
}

.board-item-side {
    position: absolute;
    left: 0px;
    width: 3px;
    height: 100%;
    background: red;
    top: 0;
    border-radius: 6px 0 0 6px;
}

.item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item-id {
    background-color: #6d75c6;
    color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 12px;
}

.item-dates {
    font-size: 12px;
}

.item-prio {
    position: absolute;
    top: -12px;
    right: -15px;
    font-size: 26px;
}

.item-managers {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex-direction: row-reverse;
}

.item-manager {
    background-color: #009dff;
    width: 35px;
    height: 35px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
}

.item-manager:nth-child(even) {
    background-color: #3faef3 !important;
}

.order-info-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.order-info-child {
    width: max-content;
    min-width: 100px;
}
.order-info-title {
    background-color: #6d75c6;
    color: #fff;
    padding: 5px 15px;
    border-radius: 4px;
}
.order-info-child p {
    font-size: 14px;
}
.order-info-title.action {
    background-color: transparent !important;
    border: 2px solid #6d75c6;
    color: #009dff;
    padding: 4px 14px;
}

.order-hats-wrapper {
    margin-top: 30px;
}

.order-hats-child {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.order-hats-name {
    position: relative;
    cursor: pointer;
}

.order-hats-name i {
    color: #6d75c6 !important;
    font-size: 20px;
}

.order-hats-details {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    background-color: #fff;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    pointer-events: none;
    transition: all 0.3s;
    opacity: 0;
    padding: 25px;
    border-radius: 7px;
}

.order-hats-name:hover > .order-hats-details {
    opacity: 1;
    pointer-events: all;
}

.order-hats-name h3 {
    text-align: center;
    color: black !important;
    font-size: 24px;
}

.order-hats-name h4 {
    color: black !important;
    margin-top: 20px;
    font-size: 16px;
}

.order-hats-name img {
    height: 150px;
    margin: 0 auto;
    display: block;
}

.order-hats-details table {
    font-size: 14px;
}

.order-hats-details .table.order-info {
    margin-bottom: 30px;
}


.order-hats-img {
    width: 50px;
}

.order-hats-input {
    margin-left: auto;
    display: block;
    width: max-content;
}

.order-hats-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}
.order-info-prio {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 7px;
}

.order-info-prio p {
    font-size: unset;
}

.order-info-pro-title {
    display: flex;
    flex-direction: row;
}

.form-check {
    min-height: unset;
}

.order-info-child input {
    font-size: 14px;
    border: none;
}

.order-form-btns {
    display: flex;
    margin-top: 25px;
    justify-content: flex-end;
    gap: 10px;
}

.order-save-btn {
    display: block;

}

.form-check-input {
    background-color: lightgrey;
}


.form-check-input:checked {

}

.order-delete {
    position: absolute;
    bottom: 15px;
}

.order {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 50px;
    #hatList {


    .hatItem{
      
      .details {
        width: 100%;
        display: flex;
        justify-content: space-around;
  
        p{
           margin: 0px;
           text-align: center;
         }
  
        .item {
          display: flex;
          flex-direction: column;
          gap: 0px;
        }
      }

      .counter {
        display: flex;
        gap: 24px;
        align-items: center;
        margin-top: auto;
        margin-bottom: 10px;
        button {
          border: none;
          background-color: transparent;
          font-size: 32px;
          font-weight: 500;
          line-height: 12px;
          padding-bottom: 8px;
        }
        p{
          font-size: 24px !important;
          line-height: 24px;
        }
      }
    }
  }

  #orderItems{
    box-shadow: 0px 0px 8px 0px hsla(0,0%,80%, 0.2);
    border-radius: 8px;
    border: 0.5px solid hsla(0,0%,60%, 0.2);
    padding-left: 0px;
    counter-reset: list-counter;
    .entry{
        border: 0.5px solid hsla(0,0%,60%, 0.2);
        display: flex;
        align-items: center;
        gap: 10px;
        counter-increment: list-counter;
        position: relative;
        padding-left: 2em;
        width: 100%;

        details{
            width: 100%;
        }
        details summary #icon{
            align-self: flex-end;
            font-weight: bold;
            transition: all ease 300ms;
        }
        details summary #icon::after{
            content: "+";
            font-size: 20px;
        }
        details[open] summary #icon::after{
            content: "-";
            font-size: 24px;
        }
        summary{
            display: flex;
            align-items: center;
            gap: 24px;
            list-style: none;
            padding: 8px;

            svg{
                height: 16px;
                margin-left: auto;
            }
        }
    }
    .entry::before {
        content: counter(list-counter) ".";
        position: absolute;
        left: 0;
        width: 1.5em;
        text-align: right;
      }
    }
    #orderItems:not(:has(*)){
        display: none;
    }

  #cartContainer {
    position: fixed;
    right: 0px;
    top: 100px;
    padding: 8px;
    background-color: #eff2f8;
    z-index: 10;
    width: 150px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: 0px 0px 16px 0px hsl(0,0%,20%, 0.1);

    .entry{
      display: flex;
      flex-direction: column;
      gap: 0px;
      padding-bottom: 10px;
      p{
        margin: 0px;
        font-weight: 600;
      }

      .size{
        font-size: 14px;
        font-weight: 400;
        line-height: 10px;
      }
    }
    }
  }

#search {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#search button {
    padding: 0 15px;
    background-color: #6d75c6;
}

.btn-blue {
    background: #6d75c6 !important;
    color: #fff !important;
}

#resetSearch button {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid hsl(0,0%, 50%);
}


.order-info-child input:not([type="checkbox"]) {
    background: none;
}

.customerFields {
    width: 45%;
    font-size: 20px;
    margin-top: 1px;
    box-shadow: 0px 0px 16px 0px hsla(0,0%,50%, 0.2);
    border-radius: 8px;
    padding: 16px;
}

.customerFields form {
        display: flex;
        flex-direction: column;
        gap: 8px;
}

.formGroup {
    display: flex;
    gap: 8px;
    width: 100%;
    box-sizing: border-box;
}

.formGroup > * {
        flex: 1;
}

#customer .formItem {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 0;
}
