body {
    z-index: -1;
    background-color: #eff2f8;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important; 
}

p {
    margin-bottom: 0 !important;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

#confirm-background{
  display: none;
}

#confirm-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(4px);
    z-index: 1000000000;
}

#confirm-modal {
    padding: 20px;
    border-radius: 8px;
    background-color: white;
}

#confirm-btns {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 10px; 
}

#confirm-btns button {
    padding: 5px 15px;
}

/* Notify */
#notify-wrapper {
    position: fixed;
    left: 0;
    top: 100px;
    right: 0;
    bottom: 0;
    opacity: 1;
    pointer-events: none;
    z-index: 10000000000000;
}

.notify-parent {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -16.15vw;
    top: 0;
    margin: 0.8vw;
    gap: 10px;
}

.notify-child {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 10px 20px;
    border-radius: 0.26vw;
    font-weight: bold;
    min-width: 300px;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.notify-icon {
    margin: auto 20px auto 0;
    font-size: 20px;
}

.notify-text {
    font-size: 16px;
    margin: auto 0;
}

.fc-daygrid-day-number, .fc-col-header-cell-cushion {
    text-decoration: none !important;
}

.fc-col-header thead tr a, .fc-daygrid-day-number {
    color: #2c3e50 !important;
}

.navbar {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 20px;
    padding: 15px;
    background-color: white !important;
}

.logo {
    height: 50px; 
    width: auto; 
    vertical-align: middle;
}

.logo-link {
    margin-right: 35px;
   
}

.container.order {
    max-width: 100% !important;
}

.nav-item .nav-link {
    font-size: 18px;
}

.nav-item {
    display: flex;
    align-items: center;
}

.table thead tr th, .table tbody tr td{
    background: none;
}

.table > :not(caption) > * > * {

}

tbody, td, tfoot, th, thead, tr {
    border-color: rgba(0,0,0,0.2);
}

.fc-event-title-container {
    background: #6d75c6 !important;
}

.btn-outline-primary {
    border-color: #6d75c6 !important;
    color: #6d75c6 !important;
}

.btn-outline-primary:hover {
    background: #6d75c6 !important;
    color: #fff !important;
}

.btn-outline-primary:active {
    background: #6d75c6 !important;
    color: #fff !important;
}

.nav-link {
    display: flex;
    gap: 8px;
    align-items: center;
    color: rgb(65, 65, 65);
}

.navbar-nav {
    gap: 9px;
}

.nav-item i {
    font-size: 17px;
    color: rgb(65, 65, 65);

}