@using Hattmakare.Models.Auth
@model RegisterViewModel

@{
    ViewBag.Title = "Registrera ett nytt konto";
}

<div class="register-container">
    <h1>Registrera ett konto</h1>
    <div asp-validation-summary="ModelOnly"></div>
    <form method="post" asp-controller="Auth" asp-action="Register">
        <div class="register-forms">
            <div class="form-group">
                <div class="form-text">
                    <label for="FirstName">Förnamn:</label>
                    <span asp-validation-for="FirstName" class="field-validation"></span>
                </div>
                <input asp-for="FirstName" class="form-input" />
            </div>
            <div class="form-group">
                <div class="form-text">
                    <label for="LastName">Efternamn:</label>
                    <span asp-validation-for="LastName" class="field-validation"></span>
                </div>
                <input asp-for="LastName" class="form-input" />
            </div>

            <div class="form-group">
                <div class="form-text">
                    <label for="Email">Epost:</label>
                    <span asp-validation-for="Email" class="field-validation"></span>
                </div>
                <input asp-for="Email" class="form-input" />
            </div>

            <div class="form-group">
                <div class="form-text">
                    <label for="Password">Lösenord:</label>
                    <span asp-validation-for="Password" class="field-validation"></span>
                </div>
                <input asp-for="Password" type="password" class="form-input" />
            </div>

            <div class="form-group">
                <div class="form-text">
                    <label for="ConfirmPassword">Bekräfta lösenord:</label>
                    <span asp-validation-for="ConfirmPassword" class="field-validation"></span>
                </div>
                <input asp-for="ConfirmPassword" type="password" class="form-input" />
            </div>

            <div class="form-actions">
                <button type="submit" class="submit-button">Registrera</button>
            </div>

        </div>
    </form>
</div>
