@using System.Text.Json;
@using Hattmakare.Models.Statistics

@model StatisticsViewModel

<h2>Försäljningsstatistik</h2>

<div class="test">
<form method="get" class="mb-3" id="search-form">
    
    <div id="customer-search">
        <label for="CustomerId" class="form-label">Välj kund:</label>
        <select asp-for="CustomerId" asp-items="Model.Customers" class="form-control select2" id="customerSelect" @* onchange="document.getElementById('filterForm').submit();" *@>
        </select>
    </div>
    <div id="hat-search">
        <label for="HatId" class="form-label">Välj hatt:</label>
        <select asp-for="HatId" asp-items="Model.Hats" class="form-control select2" id="hatSelect" @* onchange="document.getElementById('filterForm').submit();" *@>
        </select>
    </div>
</form>

<div class="btn-group mb-3" id="range-titles" role="group">
    <button type="button" class="btn btn-outline-primary range-btn active" data-range="month">Månad</button>
    <button type="button" class="btn btn-outline-primary range-btn" data-range="quarter">Kvartal</button>
    <button type="button" class="btn btn-outline-primary range-btn" data-range="year">År</button>
</div>
</div>

<div class="chart-container" style="height:400px;">
    <canvas id="hatChart"
            data-dailylabels='@Html.Raw(JsonSerializer.Serialize(Model.DailyLabels))'
            data-dailysales='@Html.Raw(JsonSerializer.Serialize(Model.DailySales))'
            data-quarterlysales='@Html.Raw(JsonSerializer.Serialize(Model.QuarterlySales))'
            data-monthlysales='@Html.Raw(JsonSerializer.Serialize(Model.MonthlySales))'>
    </canvas>
</div>
