<div id="confirm-background">
    <div id="confirm-wrapper">
        <div id="confirm-modal">
            <h3>Bekräftelse</h3>
            <p id="confirm-text">Är du säker på att du vill göra detta?</p>
            <div id="confirm-btns">
                <button class="btn btn-danger" id="confirm-yes" type="submit" value="Ja">
                    Ja
                </button>
                <button class="btn btn-outline-secondary" id="confirm-no" type="submit" value="Nej">
                    Nej
                </button>
            </div>
        </div>
    </div>
</div>

