<div id="confirm-background">
    <div id="confirm-wrapper">
        <div id="confirm-modal">
            <h3>Bekräftelse</h3>
            <p id="confirm-text">Är du säker?</p>
            <div id="confirm-btns">
                <button>
                    <input class="btn btn-pink" type="submit" value="Ja" />
                </button>
                <button>
                    <input class="btn btn-pink" type="submit" value="Nej" />
                </button>
            </div>
        </div>
    </div>
</div>

