<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hattmakare</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/customer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/hat.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/order.css" asp-append-version="true" />  
    <link rel="stylesheet" href="~/css/auth/register.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/auth/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/statistics.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hattmakare.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/css/intlTelInput.css">
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css' rel='stylesheet' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/notify.js" asp-append-version="true"></script>

</head>
<body>
    <partial name="_ConfirmModal"/>
    <div id="notify-wrapper">
        <div class="notify-parent"></div>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="logo-link" asp-controller="Home" asp-action="Index">
                    <img src="~/logo.png" alt="logo" class="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">
                                <i class="fa-solid fa-clipboard-list"></i>
                                Ordrar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Hat" asp-action="Index">
                                <i class="fa-solid fa-hat-cowboy"></i>
                                Hattar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Index">
                                <i class="fa-solid fa-user"></i>
                                Kunder
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Material" asp-action="Index">
                                <i class="fa-solid fa-layer-group"></i>
                                Material
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Statistics" asp-action="Index">
                                <i class="fa-solid fa-chart-line"></i>
                                Statistik
                            </a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="User" asp-action="Index">
                                    <i class="fa-solid fa-user-gear"></i>
                                    Användare
                                </a>
                            </li>
                        }
                        <li class="nav-item logout">
                            <form class="nav-link text-dark" asp-controller="Auth" asp-action="Logout" method="post">
                                <button>
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                    Logga ut
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="modal fade" id="editOrderModal" tabindex="-1" aria-labelledby="editOrderLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editOrderLabel">Orderspecifikation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="editOrderBody"></div>
                </div>
            </div>
        </div>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Hattmakare
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/customer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/js/intlTelInput.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/locales-all.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/hat.js" asp-append-version="true"></script>
    <script src="~/js/calendar.js" asp-append-version="true"></script>
    <script src="~/js/orderboard.js" asp-append-version="true"></script>
    <script src="~/js/order.js" asp-append-version="true"></script>
    <script src="~/js/statistics.js" asp-append-version="true"></script>
    <script src="~/js/customerValidation.js"></script>

    <script src="~/js/notify.js" asp-append-version="true"></script>

    @{
        var notifyType = TempData["NotifyType"] as string;
        var notifyMessage = TempData["NotifyMessage"] as string;
    }

    @if (!string.IsNullOrEmpty(notifyMessage) && !string.IsNullOrEmpty(notifyType))
    {
        <script>
            window.addEventListener('DOMContentLoaded', () => {
                notify({ type: "@notifyType", text: "@notifyMessage" });
            });
        </script>
    }

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
