<div id="orderCompleted">
    <div id="confirm-wrapper">
        <div id="confirm-modal">
            <h3>Din order är lagd!</h3>
            <div id="confirm-btn1">
                <button class="btn btn-danger" id="confirm-yes" type="submit" value="Ja">
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>
