@using Hattmakare.Models.User;

@model AddUserViewModel;

@{
    ViewBag.Title = "Lägg till en användare";
}

<style>
    #add-user-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>

<div id="add-user-container">
    <h2 class="display-10 text-center mb-3">Lägg till en användare</h2>
    <div asp-validation-summary="ModelOnly"></div>
    <form asp-controller="User" asp-action="AddUser">
        <div class="form-group mb-3">
            <label class="fw-bold" asp-for="FirstName">Förnamn</label>
            <input type="text" class="form-control" placeholder="Skriv ett förnamn">
        </div>
        <div class="form-group mb-3">
            <label class="fw-bold" asp-for="LastName">Efternamn</label>
            <input type="text" class="form-control" placeholder="Skriv ett efternamn">
        </div>
        <div class="form-group mb-3">
            <label class="fw-bold" asp-for="Email">Epost</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Skriv en epost">
        </div>
        <div class="form-group mb-3">
            <label class="fw-bold" asp-for="Password">Lösenord</label>
            <input type="password" class="form-control" placeholder="Lösenord">
        </div>
        <div class="form-group mb-3">
            <label class="fw-bold" asp-for="ConfirmPassword">Bekräfta lösenord</label>
            <input type="password" class="form-control" placeholder="Lösenord">
        </div>
        <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label" asp-for="IsAdmin">Markera som administratör</label>
        </div>
        <button type="submit" class="btn btn-primary w-100">Lägg till</button>
    </form>
</div>
