@using Hattmakare.Models.Material

@model EditMaterialViewModel

@{
    ViewBag.Title = "Ändra ett material";
}

<style>
    #edit-material-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #edit-material-summary ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }
</style>

<div id="edit-material-container">
    <h2 class="display-10 text-center mb-3">Ändra ett material</h2>
    <div id="edit-material-summary" asp-validation-summary="All"></div>
    <form asp-controller="Material" asp-action="EditMaterial" class="form-group col-md-4 mb-2">
        <div class="form-group mb-3">
            <label class="fw-bold" asp-for="Name">Namn</label>
            <input type="text" class="form-control" asp-for="Name" placeholder="Skriv ett namn">
        </div>
        <div class="form-group mb-3">
            <select class="form-control" asp-for="Unit">
                <option value="kg">Kilogram</option>
                <option value="g">Gram</option>
                <option value="m">Meter</option>
                <option value="dm">Decimeter</option>
                <option value="cm">Centimeter</option>
                <option value="ml">Millimeter</option>
                <option value="st">Styck</option>
            </select>
        </div>
        <div class="form-group mb-3">
            <label class="fw-bold" asp-for="Price">Pris</label>
            <input type="number" class="form-control" asp-for="Price" step="0.01">
        </div>
        <div class="form-group mb-3">
            <label class="fw-bold" asp-for="Supplier">Leverantör</label>
            <input type="text" class="form-control" asp-for="Supplier" placeholder="Skriv en leverantör">
        </div>
        <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" asp-for="IsDecoration">
            <label class="form-check-label" asp-for="IsDecoration">Markera som dekoration</label>
        </div>
        <button type="submit" class="btn btn-blue w-100">Ändra</button>
    </form>
    <a asp-controller="Material" asp-action="Index" class="btn btn-link">Tillbaka</a>
</div>
